	@keyframes start-anim {
	from {
		transform: translateY(0);
	}

	15% {
		transform: translateY(-230%);
	}

	30% {
		transform: translateY(0);
	}

	45% {
		transform: translateX(-150%);
	}

	60% {
		transform: translate(-150%, -230%);
	}
	75% {
		transform: translate(-150%, 0%);
	}
	90% {
		transform: translateX(-300%);
	}
	100% {
		transform: translate(-300%, -230%);
	}

}

.container-animation {
	animation: start-anim 10s infinite;
}

.active{
	color: #000;
}

td{
	padding: 20px;
}

input{
	height: 30px;
	border-radius: 10px;
	padding: 4px;
	color: rgb(0, 0, 0);
	background: rgb(125, 125, 125);
}

textarea{
	background: rgb(126, 126, 126);
}
input::-webkit-outer-spin-button{
	display: none;
}

